@font-face {
  font-family: 'StratosSkyeng';
  src: url(/fonts/Stratos-Regular.ttf) format("ttf"), url(/fonts/Stratos-Regular.woff) format("woff");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #004980;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 615px);
  padding-right: calc(50% - 615px);
}

.divGameField {
  margin: auto;
  width: 1030px;
}

.divMain {
  background-color: #004980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px;
  height: 100vh;
}

.divContainer {
  width: 480px;
  height: 459px;
  background-color: #C2F5FF;
  border-radius: 12px;
  padding-left: 69px;
  padding-right: 69px;
  padding-top: 52px;
  padding-bottom: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #000 1px;
  display: inline-block;
}

.divContainerAgain {
  width: 480px;
  height: 459px;
  background-color: #C2F5FF;
  border-radius: 12px;
  padding-left: 69px;
  padding-right: 69px;
  padding-top: 20px;
  padding-bottom: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #000 1px;
  display: inline-block;
}

.divContainerImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.divContainerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  font-family: 'StratosSkyeng';
  color: #004980;
  font-weight: 400;
}

.divContainerTimeSmallText {
  font-family: 'StratosSkyeng';
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-align: center;
  padding-top: 28px;
}

.divContainerTimeValue {
  font-family: 'StratosSkyeng';
  font-weight: 400;
  font-size: 64px;
  color: #000;
  text-align: center;
  padding-top: 10px;
}

.divContainerLevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}

.buttonContainerLevelNumber {
  width: 97px;
  height: 98px;
  margin-top: 48px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-weight: 400;
  font-size: 64px;
  color: #0080C1;
  font-family: 'StratosSkyeng';
}

.divContainerLevelNumber {
  width: 97px;
  height: 98px;
  margin-top: 48px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-weight: 400;
  font-size: 64px;
  color: #0080C1;
  font-family: 'StratosSkyeng';
}

.divContainerButton {
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divContainerButtonAgain {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonStart {
  width: 246px;
  height: 48px;
  border-radius: 12px;
  border: none;
  font-family: 'StratosSkyeng';
  font-weight: 400;
  font-size: 24px;
  color: #ffff;
  background-color: #7AC100;
}

.buttonStartAgain {
  width: 246px;
  height: 48px;
  border-radius: 12px;
  border: none;
  font-family: 'StratosSkyeng';
  font-weight: 400;
  font-size: 24px;
  color: #ffff;
  background-color: #7AC100;
}

.galleryTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1010px;
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 22px;
  margin-bottom: 41px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  vertical-align: top;
  width: 155px;
  font-family: 'StratosSkyeng';
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}

.timeText {
  font-family: 'StratosSkyeng';
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
  text-align: right;
  vertical-align: bottom;
  width: 100%;
  padding-left: 39px;
}

.timeValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.card {
  width: 95px;
  height: 133px;
  background-image: url("img/close_card.jpg");
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}
/*# sourceMappingURL=style.css.map */